.scheduleContainer {
  width: 100vw;
  padding: 0 10vw;
  font-size: 14px;
  font-family: 'Roboto';
}

.scheduleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.inventoryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.scheduleButton {
  font-size: 14px;
  margin-left: 25px;
  margin-right: 8px;
  opacity: 75%;
  text-decoration: underline;
}

.scheduleButton:hover {
  cursor: pointer;
}

.dropdownButton {
  margin-left: auto;
  width: 195px;
}


.itemContainer {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px 30px;
  background-color: #ffffff;
  border-radius: 20px;
  /* box-shadow: 0 0 5px #000000; */
}

.headerItem {
  height: 20px;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  color: #8a8a8a;
}

.headerCell {
  width: 25%;
  font-size: 16px;
  color: #8a8a8a;
  font-family: Roboto;
}

.cellText {
  align-items: left;
}
.scheduleItem {
  display: flex;
  flex-direction: row;
  padding: 10px 40px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 20px 30px 0px 30px;
}

#headerContainer {
  background-color: #ffffff;
}

.scoot {
  margin-left: 20px;
}

.itemCell {
  width: 25%;
}

.cellText {
  margin-left: 0;
  margin-right:50%;
}

.scheduleItem div {
  width: 300px;
}