.button {
    width: 15vw;
    height: 50px;
    background: #ffffff69;
    color: #00000069;
    border-width: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
button:hover {
    background: #dadada69;
}

.menu {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.link {
    text-decoration: none;
}

text {
    font-size: 1.4em;
    font-family: Roboto;
}

.dark-button {
    color: #000000b9 !important;
    background-color: white;
}

.dark-button:hover {
    background-color: white;
}