.dashboardContainer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
}

.dashboardLeft {
  width: 40%;
}

.dashboardRight {
  width: 60%;
}

.cardRegular {
  background-color: var(--bgSecondary);
  border-radius: 20px;
  height: 200px;
  width: 200px;
  padding: 10px 15px;
}

.cardLong {
  height: 160px;
  width: 350px;
}