.inventoryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inventoryButton {
  font-size: 14px;
  margin-left: 20px;
  opacity: 75%;
  text-decoration: underline;
}

.inventoryButton:hover {
  cursor: pointer;
}

.saveButton {
  margin-left: auto;
  width: 105px;
  height: 32px;
  border-radius: 50px;
  border-style: none;
  background-color: #71c3e7;
}

.saveButton:hover {
  cursor: pointer;
}

.reactList {
  margin: 20px;
  font-size: 18px;
}

.reactList ul {
  list-style-type: none;
}

.dragIcon {
  display: inline;
  margin-right: 10px;
}

.dragIcon:hover {
  cursor: move;
}

.itemOrder {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: gray;
}

.dragLine {
  border-bottom: solid 2px #95d7af !important;
}

.inventoryContainer {
  width : 80vw;
  min-height: 50vh;
  display : flex;
  flex-direction: column;
  margin : auto;
  padding-top : 10px;
  padding-bottom : 10px;
  background-color : #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 10px #000000;
}