.inventoryContainer {
  width: 100vw;
  padding: 0 10vw;
  font-size: 18px;
  font-family: 'Roboto';
}

.inventoryContainer ul {
  list-style-type: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.inventoryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.inventoryButton {
  font-size: 14px;
  margin-left: 25px;
  margin-right: 8px;
  opacity: 75%;
  text-decoration: underline;
}

.inventoryButton:hover {
  cursor: pointer;
}

.saveButton {
  margin-left: 30px;
  width: 105px;
  height: 32px;
  border-radius: 50px;
  border-style: none;
  background-color: #e5e5e5;
  color: #b6b1b1;
  font-family: 'Roboto';
  transition: all 0.3s ease-in-out;
}

.saveButtonChanged {
  margin-left: 30px;
  width: 105px;
  height: 32px;
  border-radius: 50px;
  border-style: none;
  background-color: #71c3e7;
  font-family: 'Roboto';
  transition: all 0.3s ease-in-out;
}

.saveButtonChanged:hover {
  cursor: pointer;
  background-color: #50b9e8;
}

.dragIcon {
  display: inline;
  margin-right: 10px;
}

.dragIcon:hover {
  cursor: move;
}

.itemOrder {
  display: inline;
  margin: 0 15px;
  color: gray;
}

.dragLine {
  border-top: hidden !important;
  border-bottom: 3px solid #95d7af !important;
}

.dragLine::before {
  content: '   ';
  background-color: #95d7af;
  margin: 5px !important;
}

.itemContainer {
  width: 100%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px 0;
  background-color: #ffffff;
  border-radius: 20px;
}

.dragList {
  padding: 0 0;
}

.containerHeader {
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #8a8a8a;
}
.headerName {
  margin-left: 9%;
  width: 40%;
}

.headerItemLimit {
  margin-left: auto;
  margin-right: 8%;
}
