.newItem {
  height: 50px;
  width: 80%;
  margin: 15px auto;
  padding: 0 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 0 5px #484848;
  display: flex;
  align-items: center;
}

.itemLimit {
  width: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
}

.itemName:hover,
.itemLimit:hover {
  cursor: text;
}

.itemDelete {
  margin-right: 20px;
}

.itemDelete:hover {
  cursor: pointer;
}
