body {
    background-color: #E5E5E5;
    height: 100%;
}   

.transactions {
    margin: 2em 7em;
}

.scrollingTransactions {
    height: 27em;
    overflow-y: scroll;
    background-color: white;
    padding: 2em;
}

.transactionTitle {
    font-family: Roboto;
    font-style: bold;
    font-weight: 600;
    font-size: 32px;
}

.borderlessButton {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: -1em;
}

#wordButton {
    margin: -1em 1em 0em 3em;
    text-decoration: underline;
}

.titleArea {
    display: flex;
}

.bigTable {
    font-family: Roboto;
    background: white;
}

.ant-dropdown-link {
color: #71C3E7;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 18px 0px 25px;
margin-top: 8px;
border: 1.5px solid transparent;
border-radius: 20px 20px;
width: 200px;
height: 30px;
font-family: 'Roboto', serif;
font-size: 14px;
font-weight: 500;
transition: all 0.3s ease-in-out !important;
background-color: white;
}

.ant-dropdown-link:hover {
cursor: pointer;
border-color: #71c3e7;
color: #71c3e7;
}

.ant-dropdown-open {
border-color: #71c3e7;
border-radius: 20px 20px 0px 0px;
border-bottom: none;
}

.ant-dropdown-open > .dropdown_arrow {
transform: rotate(180deg);
}

.ant-dropdown-link > .dropdown_arrow {
transition: all 0.3s ease-in-out;
}

.dropdown_menu {
background-color: white;
width: 200px;
border: 1.5px solid #71c3e7;
border-top: none;
border-radius: 0px 0px 20px 20px;
padding: 0px 18px 14px 18px;
margin-top: -10px;
display: flex;
flex-direction: column;
}

.dropdown_menu > a {
text-decoration: none;
font-size: 16px;
font-weight: 400;
color: rgba(0, 0, 0, 0.7);
margin-bottom: 5px;
}

.dropdown_menu > a:hover {
color: #71c3e7;
}

.dropdown {
    margin-left: auto;
}