body {
    background-color: #E5E5E5;
    height: 100%;
}   

.transactions {
    margin: 2em 7em;
}

.scrollingTransactions {
    height: 27em;
    overflow-y: scroll;
    background-color: white;
    padding: 0em 2em;
    border-radius: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-collapse: separate;
}

.scrollingTransactions::-webkit-scrollbar {
    display: none;
}

.scrollingTransactions td:nth-child(5) {
    color: #71c3e7;
}

tr.ant-table-row {
    background-color: #F6F6F6;
    margin: 20px;
}

tr.ant-table-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr.ant-table-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ant-pagination {
    visibility: hidden;
}

th.ant-table-cell {
    background-color: white;
}

.ant-table table {
    border-spacing: 0 20px;
    border-radius: 30px;
}

.ant-table-thead > tr > th {
    background-color: white;
    color: #8A8A8A;
}

th.ant-table-cell::before {
    visibility: hidden;
}

.ant-table-cell {
    background-color: transparent;
}

.ant-table-tbody > tr > td {
    height: 15px;
    padding: 10px;
    font-weight: 400;
    font-style: bold;
  }

.transactionTitle {
    font-family: Roboto;
    font-style: bold;
    font-weight: 500;
    font-size: 32px;
}

.borderlessButton {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: -1em;
}

#wordButton {
    margin: -1em 1em 0em 3em;
    text-decoration: underline;
}

.titleArea {
    display: flex;
}

.bigTable {
    font-family: Roboto;
    background: white;
}

.ant-dropdown-link {
color: #71C3E7;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 18px 0px 25px;
margin-top: 8px;
border: 1.5px solid transparent;
border-radius: 20px 20px;
width: 200px;
height: 30px;
font-family: 'Roboto', serif;
font-size: 14px;
font-weight: 500;
font-style: bold;
transition: all 0.3s ease-in-out !important;
background-color: white;
}

.ant-dropdown-link:hover {
cursor: pointer;
border-color: #71c3e7;
color: #71c3e7;
}

.ant-dropdown-open {
border-color: #71c3e7;
border-radius: 20px 20px 0px 0px;
border-bottom: none;
}

.ant-dropdown-open > .dropdown_arrow {
transform: rotate(180deg);
}

.ant-dropdown-link > .dropdown_arrow {
transition: all 0.3s ease-in-out;
}

.dropdown_menu {
background-color: white;
width: 200px;
border: 1.5px solid #71c3e7;
border-top: none;
border-radius: 0px 0px 20px 20px;
padding: 2px 18px 5px 18px;
margin-top: -8px;
display: flex;
flex-direction: column;
}

.dropdown_menu > a {
text-decoration: none;
font-family: 'Roboto', serif;
font-size: 14px;
font-weight: 500;
font-style: bold;
color: rgba(0, 0, 0, 0.7);
margin-bottom: 3px;
margin-left: 7px;
}

.dropdown_menu > a:hover {
color: #71c3e7;
}

.dropdown {
    margin-left: auto;
}

.expandedData  {
}