.location-modal-backdrop * {
  cursor: auto;
}

.location-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.location-modal-content {
  background: var(--bgPrimary);
  border-radius: 25px;
  padding: 40px 40px;
  width: 660px;
  height: 450px;
  position: relative;
}

.location-button-group {
  position: absolute;
  bottom: 40px;
  right: 30px;
}
