.location-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.location-modal-content {
  background: var(--bgPrimary);
  border-radius: 25px;
  padding: 40px 40px;
  width: 660px;
  height: 450px;
}

.location-button-group {
  margin-top: 80px;
  text-align: right;
}
