@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

.header {
  height: 100px;
  box-shadow: 0 4px 7px -7px gray;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo {
  height: 46px;
  width: 30px;
  margin-right: 1rem;
}

.header_title {
  font-size: 28px;
  font-family: 'Bitter', serif;
  margin-top: 1em;
}

.header_right {
  display: flex;
  flex-direction: row;
}

.ant-dropdown-link {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px 0px 18px;
  border: 1.5px solid transparent;
  border-radius: 20px 20px;
  width: 200px;
  height: 50px;
  font-family: 'Roboto', serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out !important;
}

.ant-dropdown-link:hover {
  cursor: pointer;
  border-color: #71c3e7;
  color: black;
}

.ant-dropdown-open {
  border-color: #71c3e7;
  border-radius: 20px 20px 0px 0px;
  border-bottom: none;
}

.dropdown_menu {
  background-color: white;
  width: 200px;
  border: 1.5px solid #71c3e7;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  padding: 0px 18px 14px 18px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}

.dropdown_menu > a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}

.dropdown_menu > a:hover {
  color: #71c3e7;
}
