@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

.header {
	width: 100vw;
	height: 12.5vh;
	padding-left : 6vw; 
	padding-right : 10vw;
	box-shadow: 0 4px 7px -7px gray;
}

.header_left {
	float : left;
	height : 100%;
	display : flex;
	flex-direction: row;
	height: 100%;
}

.header_logo {
	height : 46px;
	width : 30px;
	margin : auto 10px;
}

.header_title {
	font-size: 2vw;
	font-family: 'Bitter', serif;
	margin : auto 0;
}

.header_profile {
	float : right;
	width : 10vw;
	height : 100%;
	padding-top : 30px;
}