.headerCell {
  width: 25vw;
  font-size: 16px;
  color: #8a8a8a;
  font-family: Roboto;
}

.itemCell {
  width: 25vw;
}

.timeCell {
  width: 15vw;
}

.scheduleItem div {
  width: 300px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bold {
  font-weight: bold;
}

.schedule-dropdown {
  border-color: #71c3e7;
  margin-left: auto;
  height: 25px;
}
