.scheduleCol1 {
  width: 18%;
}

.scheduleCol2 {
  width: 22%;
}

.scheduleCol3 {
  width: 10%;
}

.scheduleCol4 {
  width: 17%;
}

.scheduleCol5 {
  width: 33%;
}

.scheduleCol2,
.scheduleCol3,
.scheduleCol4,
.scheduleCol5 {
  align-self: center;
}

.timeBox {
  display: flex;
  flex-direction: column;
}
