.headerCell {
  width: 20%;
  display: flex;
  justify-content: center;
}

.itemCell {
  width: 20%;
}

.scheduleItem div {
  width: 300px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.bold {
  font-weight: bold;
}
