.error {
	position: absolute;
	top: 5vh;
	left: 40vw;
	height: 17%;
	width: 400px;
	padding-top: 1vh;
	padding-left: 1vw;
	border-radius: 20px;
	background-color: rgb(255,0,0,0.5);
	display: flex;
	flex-direction: column;
}

.errorClose {
	margin-left: 17vw !important;
}

.errorContent {
	margin-top: 1.5vh;
	display: flex;
	flex-direction: row;
}

.errorMsg {
	padding-top : 2vh;
	font-size: 16px;
}