.input-text {
    font-size: 16px;
    color: inherit;
    line-height: 1;
}

.input-text-number {
    text-align: center;
    width: 60px;
}

.input-text-text {
    width: 150px;
}

.input-text-text:focus-visible {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    outline: none;
    transform:translateX(-3px);
}
.input-text-number:focus-visible {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    outline: none;
}

@media screen and (max-width: 723px) {
    .input-text-text {
        width: 100px;
    }
    
}