.dragIcon {
  display: inline;
  margin-right: 20px;
  color: #535353;
}

.dragIcon:hover {
  cursor: move;
}

.itemOrder {
  display: inline;
  margin: 0 15px;
  color: gray;
}

.dragLine {
  border-top: hidden !important;
  border-bottom: 3px solid #95d7af !important;
}

.dragLine::before {
  content: '   ';
  background-color: #95d7af;
  margin: 5px !important;
}

.dragList {
  padding: 0 0;
}

.headerName {
  margin-left: 108px;
  width: 40%;
}

.headerItemLimit {
  width: 100px;
  margin-left: auto;
  margin-right: calc(3% + 26px);
}
