.dragLine {
  border-top: hidden !important;
  border-bottom: 3px solid #95d7af !important;
}

.dragLine::before {
  content: '   ';
  background-color: #95d7af;
  margin: 5px !important;
}

.dragList {
  padding: 0 0;
}
