.inventoryCol1 {
  width: 5%;
  color: var(--textDisabled);
}

.inventoryCol2 {
  width: 5%;
  font-size: 14px;
  color: var(--textDisabled);
  display: flex;
  justify-content: center;
}

.inventoryCol3 {
  width: 65%;
  display: flex;
  align-items: center;
}

.inventoryCol4 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventoryCol5 {
  width: 10%;
  display: flex;
  justify-content: center;
}

.inventoryCol1:hover {
  cursor: move;
}

.inventoryCol3:hover,
.inventoryCol4:hover {
  cursor: text;
}

.inventoryCol5:hover {
  cursor: pointer;
}

.setColorBlue {
  background-color: #e7f5fb !important;
}
