.maxLimit, .itemPrice {
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: 3%;
}

.itemName:hover,
.maxLimit:hover {
  cursor: text;
}

.itemDelete {
  margin-right: 15px;
}

.itemDelete:hover {
  cursor: pointer;
}

.itemOrder {
  font-size: 14px;
}

.setColorBlue {
  background-color: #e7f5fb;
}
