.masterInventoryCol1 {
  width: 10%;
  font-size: 14px;
  color: var(--textDisabled);
}

.masterInventoryCol2 {
  width: 65%;
}

.masterInventoryCol3 {
  width: 15%;
  display: flex;
  justify-content: center;
}

.masterInventoryCol4 {
  width: 10%;
  display: flex;
  justify-content: center;
}
