.settingsTitle {
	margin-top: 4vh;
	margin-left: 9vw;
	font-size: 28px;
	font-family: 'Roboto';
}

.settingsContainer {
  width: 100vw;
  padding: 0 9vw;
	margin-top: 1vh;
	margin-bottom: 10vh;
  font-size: 18px;
  font-family: 'Roboto';
	flex-direction: row;
}

.settingNav {
	height: 65vh;
	width: 25%;
	background-color: white;
	border-radius: 20px;
	padding: 2% 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.settingNavRow {
	height: 6vh;
	padding: 1vh 1vw;
	margin-bottom: 2vh;
	font-size: 18px;
	font-family: 'Roboto';
	border-radius: 8px;
}

.navRow-active {
  color: #45a5cf;
  background-color: rgba(113, 195, 231, 0.3);
  border: 2px solid rgba(113, 195, 231, 0.7) !important;
}

.navRow-inactive {
  color: #696969;
	background-color: none;
}

.backToDash {
	color: #696969;
	margin-bottom: 0;
}

.link {
	font-size: 16px !important;
	color: #696969 !important;
}